<h2 mat-dialog-title>Nova Receita</h2>

<mat-dialog-content>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Descrição</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Valor</mat-label>
    <input matInput type="number">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">

  <button mat-button mat-dialog-close>
    Cancelar
  </button>

  <button mat-raised-button color="primary">
    Salvar
  </button>

</mat-dialog-actions>
